# Global
*.png

# Enviroment
.env

# Caddy
caddy/config/
caddy/data/

# Tailscale
tailscale/

# UE Horde
data/BlockCache
data/Logs
data/Storage
data/globals.json
data/server.json
data/ue5-release-5.6.stream.json
data/ue5.project.json