https://ue-horde.{$CADDY_DOMAIN} {
    tls {
        dns infomaniak {$CADDY_INFOMANIAK_APITOKEN}
    }

    reverse_proxy horde-server:{$Horde__HttpPort}
}

http://ue-horde.{$CADDY_DOMAIN} {
    reverse_proxy /api* horde-server:{$Horde__HttpPort}
}

http://ue-horde.{$CADDY_DOMAIN}:{$Horde__Http2Port} {
    reverse_proxy horde-server:{$Horde__Http2Port} {
        transport http {
            versions h2c
        }
    }
}
